/* playfair: 'Playfair Display', serif; */
body {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 96px;
}

.git-info {
    font-size: 36px;
}

